$body-color:#333;
$body-bg-color:#fff;
$body-font-size:16px;
$body-line-height:1.2;
$body-font-family: "Times New Roman", Georgia, Serif;

$nav-color:#eee;
$nav-bg-color:#23282d;
$nav-hover-color:#fff;
$nav-hover-bg-color:#32373c;

$nav-sub-color:#eee;
$nav-sub-bg-color:#32373c;
$nav-sub-hover-color:#fff;
$nav-sub-hover-bg-color:#23282d;

$headings-color:#333;
$headings-font-family:"Times New Roman", Georgia, Serif;